.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:auto;
    min-height: 920px;
    background-image: url('/assets/activity_background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat; 
}

.activityCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activityBlock{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90vw;
    gap:50px;
    letter-spacing: 2px;
    line-height: 25px;
    margin-bottom: 100px;
}

.description{
    color:#000;
    margin-top: 60px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'montserrat' sans-serif;
}

@media (max-width:1366px) and (min-width:1081px){
    .activityBlock{
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 100px;
    }
}

@media (max-width:1080px) and (min-width:371px){
    .activityBlock{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 100px;
    }
    .container{
        background-image: url('/assets/mobile_activity_background.png');
        width:100vw;
    }
}

@media (max-width:464px){
    .activityBlock{
        grid-template-columns: 100%;
        row-gap: 160px;
        margin-bottom: 100px;
    }
    .container{
        background-image: url('/assets/small_activity_background.png');
    }
}