.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:auto;
    min-height: 920px;
    background-image: url('/assets/activity_background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat; 
}

.activityCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px;
    cursor:pointer;
    transition: all 1s ease,; 
    transform: translateZ(0); 
    perspective: 1000px;
}

.activityBlock{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90vw;
    gap:50px;
    letter-spacing: 2px;
    line-height: 25px;
    margin-bottom: 100px;
    
}

.description{
    color:#000;
    margin-top: 60px;
    font-weight: 500;
    font-size: 1rem;
    word-spacing: 10px;
    letter-spacing: 1px;
    min-height: 145px;
    font-family: var(--font-montserrat);
}

.activityCard:hover{
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    transform: translateZ(40px) scale(1.06); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    height:fit-content
}

@media (max-width:1366px) and (min-width:1081px){
    .activityBlock{
        grid-template-columns: repeat(3,1fr);
        margin-bottom: 100px;
    }
}

@media (max-width:1080px) and (min-width:464px){
    .activityBlock{
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 100px;
    }
    .container{
        background-image: url('/assets/mobile_activity_background.png');
        width:100vw;
    }
}

@media (max-width:464px){
    .activityBlock{
        grid-template-columns: 100%;
        row-gap: 160px;
        margin-bottom: 100px;
    }
    .container{
        background-image: url('/assets/small_activity_background.png');
    }
}