.carousel{
    width:80%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 100px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 30px 0px;
}
.itemClass{
    place-self: center;
}


  