.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh; 
    min-height: 1080px;
    background-color: #fcfcfc;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-top: 100px;
    z-index: 0;
}

.filigrane{
    position: absolute;
    width: 80vw;
    height: auto; 
    z-index:0;
    animation: heartbeat 3s infinite ease-in-out;
    margin-top: -300px;
}

.image{
    width: 40% !important; 
    height: auto;
    z-index:99;
    margin-top: -50px;
    opacity: 0; /* Caché par défaut */
    transform: scale(0.5); /* Zoom initial réduit */
    animation: zoom-in 0.8s ease-out forwards;
}

.subTitle{
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 70px;
    font-weight: 600;
    letter-spacing: 4px;
    color:#000;
    z-index:99;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    animation: reveal-text 5s steps(16) forwards; 
    text-align: center;
}

.title{
    font-size: 2.2rem;
    letter-spacing: 29px;
    font-weight: 900;
    margin-top: 20px;
    color: #000;
    z-index:99;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    animation: reveal-text 3s steps(16) forwards;
    text-align: center;
}
  
  
  @keyframes reveal-text {
    0%{
        opacity:0;
        width:0
    }
    20% {
      width: 0; /* Commence à 0 largeur */
      opacity: 1;
    }
    100% {
      width: 100%; /* Montre tout le texte */
      opacity: 1
    }
  }

  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(0.5); /* Plus petit au départ */
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2); /* Légèrement plus grand au milieu */
    }
    100% {
      opacity: 1;
      transform: scale(1); /* Retour à la taille normale */
    }
  }
  

@media (max-width:1366px){
    .title{
        font-size: 2rem;
        letter-spacing: 15px;
        font-weight: bolder;
        margin-top: 20px;
    }
    
    .subTitle{
        font-size: 1.4rem;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}

@media (max-width:920px){
    .image{
        width:80vw !important
    }
    .container{
        background-image: url('/assets/mobile_welcome_background.png'); 
        min-height: 620px;
        
    }
    .title{
        font-size: 1.3rem;
        letter-spacing: 10px;
        font-weight: bolder;
        margin-top: 20px;
    }
    
    .subTitle{
        font-size: 0.8rem;
        margin-top: 10px;
        margin-bottom: 50px;
        letter-spacing: 0;
    }
    .filigrane{
        display: none;
    }
}

@media (max-width:420px){
    .title{
        font-size: 1.2rem;
        letter-spacing: 05px;
        font-weight: bolder;
        margin-top: 20px;
    }
    
    .subTitle{
        font-size: 0.9rem;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .filigrane{
        display: none;
    }
}

@keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }