.firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 920px;
}

.thirdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
}

.price {
    font-weight: 500;
    font-size: 2.4rem;
    text-align: center;
    z-index: 99;
    color: #ff8c00;
    width: 'fit-content'
}

.titleDescription {
    margin-top: 60px;
    font-weight: 500;
    font-size: 2.4rem;
    max-width: 900px;
    text-align: center;
    z-index: 99;
}

.title {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    z-index: 99;
}

.offreContainer,
.fourthContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px
}

.offreDescription {
    border: 1px solid #000;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.offreTitle {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 30px;
}

ul.list_dash2 {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 100%;
    margin-top: 30px;
    padding: 0px 40px 20px 40px;
}

ul.list_dash2 li::before {
    content: "— ";
    color: #000;
    font-weight: bold;
    width: 0px;
}

ul.list_dash2 li {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 5px;
}




.filigrane {
    position: absolute;
    width: 80vw;
    height: auto;
    z-index: 0;
    animation: heartbeat 3s infinite ease-in-out;
}

.logoMzo {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: -50px;
}

.aproposDescription {
    margin-top: 60px;
    font-weight: 500;
    font-size: 2rem;
    max-width: 900px;
    text-align: center;
    z-index: 99;

}

.serviceTitle {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    z-index: 99;
}

.offreSecondContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin-top: 70px
}

.secondBlock,
.firstBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarifCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    border: #000 solid 1px;
    padding: 20px;

}

.subTitleTarif {
    font-size: 1.1rem;
    color: #999;
    margin: 30px 0px 10px 0px;
    text-transform: uppercase;
}

.tarifContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-self: center;
    width: 80%;
    margin-top: 100px;
}

.détailTarif {
    font-weight: 700;
    margin-top: 10px;
    font-size: 0.9rem;
}

.lineTarif {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    align-items: flex-end
}

.fifteenContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
}

.starliknV4Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    width: 100%;
    margin-bottom: -20px;
    align-items: center
}

.fifteenDescription {
    font-size: 1.1rem;
    margin-top: 20px;
}

.fifteenDetail{
    font-size:1.1rem;
    text-align: center;
    line-height:40px
}

@media (max-width:1080px) {
    .offreDescription {
        width: 90vw
    }

    ul.list_dash li {
        font-size: 1rem;
    }

    ul.list_arrow li {
        font-size: 0.9rem;
    }

    .priceDescription {
        width: 90%
    }

    .fifteenContainer {
        grid-template-columns: 100%;
        row-gap: 50px;
    }

    .tarifCard {
        width: 100%;
    }

    .tarifContainer {
        grid-template-columns: 100%;
        row-gap: 30px;
        width: 90%;
        margin: 50px auto 0px auto;
        justify-items: center;
        align-items: center;
        place-self: center;
    }

    .offreSecondContainer {
        grid-template-columns: 100%;
    }

    .imageStarlinkV4 {
        margin: -100px 0px -50px 0px;
    }

    .starliknV4Container {
        grid-template-columns: 100%;
        margin-top: 50px;
        width: 90%;
        margin: 70px auto 0px auto;
        justify-items: center;
        align-items: center;
        place-self: center;
    }


    .firstContainer {
        max-height: 400px;
        margin: -90px 0px
    }

    .logoMzo {
        width: 40vw;
        height: 40vh;
        margin: -70px 0px;
        max-width: 400px;
        max-height: 400px;
    }

    .titleDescription {
        font-size: 1.2rem;
        width: 90%
    }

    .price {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1.7rem;
    }

    .serviceTitle {
        font-size: 1.4rem;
        word-wrap: wrap;
        max-width: 90%;
        text-align: center;
    }

    ul.list_arrow {
        grid-template-columns: 100%;
        row-gap: 40px;
        width: 90%;
    }

    .aproposDescription {
        font-size: 1.2rem;
    }

    ul.list_dash {
        width: 90%;
        margin-top: -10px;
    }

    ul.list_dash2 {
        padding: 0px 20px 20px 20px;
    }

    ul.list_dash li{
        font-size:0.9rem;
    }

    ul.list_arrow li {
        font-size: 1rem;
    }

    .fifteenDescription {
        font-size: 1rem;
    }
    .fifteenDetail{
        font-size:0.9rem;
        line-height:20px
    }
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}