.firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    max-height: 100vh;
    margin-top: 80px;
    margin-bottom: 50px;
}

.filigrane {
    position: absolute;
    top:4vh;
    width: 80vw;
    height: auto;
    z-index: 0;
    animation: heartbeat 3s infinite ease-in-out;
}

.logoMzo {
    position: relative;
    width:60vw;
    height: 60vh;
    max-width: 500px;
    max-height: 500px;
    margin: 5vh 0vh -150px 0px;
    z-index: 99;
}

.titleDescription {
    margin: 0px;
    font-weight: 600;
    font-size: 1.4rem;
    max-width: 1280px;
    width:80vw;
    text-align: left;
    z-index: 99;
    letter-spacing: 1px;
    line-height: 30px;
    word-spacing: 4px;
}


@media (max-width:1080px){
    .valeursContainer{
        grid-template-columns: 100%;
    }
    .titleDescription {
        font-size: 1rem;
        margin: 0px;

    }
    .logoMzo{
        margin-top:0vh
    }
    .firstContainer {
        margin-bottom: 0px;
    }
    .valeurItem{
        margin-top: 5vh;
    }
    .filigrane {
        position: absolute;
        top:25vh;
        width: 80vw;
        height: auto;
        z-index: 0;
        animation: heartbeat 3s infinite ease-in-out;
    }
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}